











#modal1 {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
#modal2 {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
#modal3 {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }